@mixin filterHeader() {
  h3 {
    @include font(sans);
    padding-bottom: 0.05em;
    border-bottom: black solid 0.15em;
    margin-top: 1em;
    margin-bottom: 0.6em;
  }
}

@mixin filterCategory() {
  .category {
    @include font-bold(sansblack);

    label {
      display: block;
      position: relative;
      padding-left: 0.8em;
      cursor: pointer;

      &:before {
        content: "– ";
        position: absolute;
        left: 0;
        top: 0;
      }
    }

    input[type="radio"] {
      display: none;
    }
  }

  input[type="radio"]:checked+label {
    color: $cLinkHover;
  }
}
@mixin filterSubmit() {
  #filter-form-submit {
    .txt {
      display: block;
    }

    .wait {
      display: none;
    }

    &.button-submitting {
      cursor: not-allowed;
      pointer-events: none;
      opacity: 0.6;
      .txt {
        display: none;
      }
      .wait {
        display: block;
      }
    }
  }
}
