@import '../variables';

.content {
  box-sizing: border-box;
  width: 100%;
  max-width: $max-width;
  padding-left: 180px;

  @include mediaQuery($max, $tablet) {
    padding: 2%;
  };

  .neos-backend & {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
  }

  a {
    padding-bottom: 0.05em;
    border-bottom: black solid 0.15em;
  }
  a.noLine {
    padding-bottom: 0;
    border-bottom: none;
  }
  .doUderline {
    padding-bottom: 0;
    border-bottom: none;
  }

  a.noUnderline,
  h1 a,
  h2 a {
    padding-bottom: 0;
    border-bottom: none;
  }
  a[href^="http"] {
    @include inline-icon('icon_external-link.svg', 60%);
  }

  ul {
    list-style: none;
  }

  li {
    position: relative;
    padding-left: 0.8em;

    &:before {
      content: "– ";
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  &-inner {
    // width: 100%;
    @include container(12);

    .content_main {
      margin-bottom: 2rem;
    }


    @include mediaQuery($min, $tablet) {
      .content_main {
        @include span(first 9 of 12);
      }

      .content_extra {
        @include span(last 3 of 12);
      }
    }

    // for course
    .wide & .content_main  {
      @include span(12 of 12);
    }
      
    // for course
    .course & .content_main  {
      @include span(12 of 12);

      .course-root{
        @include container(12);

        @include mediaQuery($min, $tablet) {
          .course-course {
            @include span(first 9 of 12);
          }
          .course-execution {
            @include span(last 3 of 12);
            word-wrap: break-word;
          }
        }
      }
    }

    .wide & .content_extra,
    .course & .content_extra {
      display: none;
    }


    .menu3 {
      padding-bottom: 3rem;
      word-wrap: break-word;
      padding-left: $spaceArroundContent;
      padding-right: $spaceArroundContent;

      ul {
        margin: 0;
      }

      li {
        float: none;
      }
    }

    .neos-backend & {
      width: 100%;
    }
  }
}
