.course-root {
  // a {
  //   border-bottom: none;
  //
  // }
  h3.button {
    text-transform: uppercase;
    letter-spacing: 0.1em;

    padding-bottom: 0.15em;
    border-bottom: black solid 0.15em;
    display: inline-block;
    margin-bottom: 1rem;
  }
  .course-complete {
    opacity: 0.3;
  }
}
