$mobile-nav--padding: 10px;
$mobile-nav--height: 70px;
$mobile-nav--logo-width: 85px;
$font-size--large: 22px;
$color--light: $cWhite;
$color--gray: rgb(172, 172, 172);
$color--dark: black;

.navigation {
  &--mobile {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    position: fixed;
    top: -$mobile-nav--height;
    left: 0;
    height: $mobile-nav--height;
    width: 100%;
    max-width: 100vw;
    z-index: 5;
    background-color: white;
    border-bottom-color: $color--gray;
    border-bottom-style: solid;
    border-bottom-width: 0.15rem;
    color: $color--dark;
    transition: transform 200ms ease;
    @include mediaQuery($max, $tablet) {
      transform: translateY(100%);
    }
  }

  &__logos {
    width: $mobile-nav--logo-width;
    height: $mobile-nav--height;
    padding: $mobile-nav--padding;
    // background-color: white;
    padding-right: 0;
    box-sizing: border-box;
  }

  &__lion--mobile {
    height: 100%;
    margin-right: $mobile-nav--padding;
  }

  &__flag--mobile {
    display: inline-block;
    height: 20px;
    margin-bottom: 13px;
  }

  &__toggle-btn {
    &:hover {
      background-color: inherit;
    }

    &:focus {
      border: none;
      outline: none;
    }
    -webkit-appearance: none;
    width: 100%;
    height: 100%;
    color: inherit;
    background-color: inherit;
    border: none;
  }

  &__toggle {
    box-sizing: border-box;
    display: block;
    flex-grow: 1;
    height: 100%;
    padding-left: 0;
    padding-top: 5px;
    font-size: $font-size--large;
    @include font-bold(sansblack);
    color: inherit;
    background-color: $color--light;
    padding-right: 60px;
    // background-position: top right 10px;
    // background-size: 60px 60px;
    // repeat:no-repeat;
    position: relative;

    &:after {
      content: " ";
      position: absolute;
      right: 22px;
      top: 22px;
      width: 25px;
      height: 25px;
      // background-attachment: fixed;
      background-repeat: no-repeat;
      // background-position:50% 160%;
      background-size: 100%;
      background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="rgb(0, 0, 0)"><rect y="0" width="100%" height="20%" rx="5%" ry="5%" /><rect y="40%" width="100%" height="20%" rx="5%" ry="5%" /><rect y="80%" width="100%" height="20%" rx="5%" ry="5%" /></svg>');
      // background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="rgb(0, 0, 0)"><rect y="0" width="100px" height="20px" rx="5px" ry="5px" /><rect y="40px" width="100px" height="20px" rx="5px" ry="5px" /><rect y="80px" width="100px" height="20px" rx="5px" ry="5px" /></svg>');
    }
  }

  &__content {
    position: absolute;
    display: block;
    top: $mobile-nav--height;
    left: 0;
    right: 0;
    z-index: -1;
    padding-left: $mobile-nav--logo-width;
    background-color: white;
    border-bottom-color: $color--gray;
    border-bottom-style: solid;
    border-bottom-width: 0.15rem;
    transform: translateY(-100%);
    transition: transform 200ms ease;

    &--open {
      transform: translateY(0);
    }
  }
}

.menu {
  &1--mobile {
    font-size: $font-size--large;
    @include font-bold(sansblack);

    ul {
      padding-left: 0;
    }

    li {
      list-style: none;
    }

    a {
      color: inherit;
    }
  }

  &2--mobile {
    > nav {
      padding: 1rem 0 0.75rem $mobile-nav--logo-width;
    }
    background-color: white;
    font-size: 16px;
    line-height: 1.25;
    font-size: map-get($fontFactorsMenuMobile, L2);
    line-height: 1.6;
    display: none;
    @include mediaQuery($max, $tablet) {
      display: block;
    }

    a {
      color: inherit;
    }

    .normal > ul {
      overflow: hidden;
      height: 0;
    }

    li,
    ul {
      padding-top: 0.15rem;
      padding-bottom: 0.15rem;
      @include mediaQuery($max, $tablet) {
        float: none;
        padding-left: 0;
      }
    }

    li > ul {
      padding-left: 20px;
    }
  }
}

.current a {
  color: $cLinkIsActive;
  border-bottom-color: $cLinkIsActive;
}

.menu3 {
  @include mediaQuery($max, $tablet) {
    display: none;
    // background: white;
    // padding-top: 0.5rem;
    // margin-top: 2vw;
  }
}

.menuSiblings {
  display: none;
}

.hideL3 {
  & .menu3 {
    display: none;
  }
}

.showSiblings {
  & .menu3 {
    display: none;
  }

  & .menuSiblings {
    display: block;
  }
}
