.neos-nodetypes-headline,
.neos-nodetypes-menu,
.neos-nodetypes-text,
.signalwerk-sfgz-menu,
.signalwerk-sfgz-contactitem,
.signalwerk-sfgz-contactview,
.signalwerk-sfgz-course,
.signalwerk-sfgz-courseview,
.signalwerk-sfgz-foldout,
.signalwerk-sfgz-newsview {
  background-color: white;
  overflow: auto;
  padding-left: $spaceArroundContent;
  padding-right: $spaceArroundContent;
}
// no additional padding if it's ajax loaded
.ajax.neos-contentcollection > .signalwerk-sfgz-contactview,
.ajax.neos-contentcollection > .signalwerk-sfgz-courseview,
.ajax.neos-contentcollection > .signalwerk-sfgz-newsview {
  padding: 0;
}

.dl-gallery-gallery {
  padding: 0;
  margin-bottom: $spaceArroundContent;
  background-color: white;
}

.signalwerk-sfgz-vimeo,
.signalwerk-sfgz-youtube {
  padding: $spaceArroundContent 0;
}

.neos-nodetypes-image {
  // padding: $spaceArroundContent;
  figure {
    margin: 0;
  }

  img {
    max-width: 100%;
    width: auto;
    height: auto;
  }
}
