@import '../variables';

.column {
  @include container(12);
}

.columns-masonry {

  .news-item__gutter {
    width: gutter(12);
  }

  .news-item__sizer,
  .news-item {
    width: span(6 of 12);

    @include mediaQuery($max, $tablet) {
      width: span(12 of 12);
    }
  }
}

.news-item {

  position: relative;
  padding-bottom: 1rem;
  font-size: 1.15rem;
  p {
    font-size: 1.15rem;
  }

  a {
    color: black;
    h1, h2 {
      border-bottom: transparent solid 0.1em;
      transition: border-bottom 400ms ease;
      padding-top: 0.1em;
      line-height: 1.1;
      padding-bottom: 0em;
      // box-sizing: border-box;
      // transition: color 500ms ease, border-bottom 400ms ease;

          display: inline;
          position: relative;

        @include mediaQuery($max, $tablet) {
          border-bottom: black solid 0.1em;
        }
        &:after {
        clear: both;
        display: block;
        content: "";
        width: 100%;
      }
    }

    &:hover {

      h1, h2 {
        border-bottom: $cLinkHover solid 0.1em;
        color: $cLinkHover;

        .random01 & { color: $cLinkHover01; border-bottom-color: $cLinkHover01;}
        .random02 & { color: $cLinkHover02; border-bottom-color: $cLinkHover02;}
        .random03 & { color: $cLinkHover03; border-bottom-color: $cLinkHover03;}
        .random04 & { color: $cLinkHover04; border-bottom-color: $cLinkHover04;}
        .random05 & { color: $cLinkHover05; border-bottom-color: $cLinkHover05;}
        .random06 & { color: $cLinkHover06; border-bottom-color: $cLinkHover06;}
        .random07 & { color: $cLinkHover07; border-bottom-color: $cLinkHover07;}
        .random08 & { color: $cLinkHover08; border-bottom-color: $cLinkHover08;}
        .random09 & { color: $cLinkHover09; border-bottom-color: $cLinkHover09;}
        .random10 & { color: $cLinkHover10; border-bottom-color: $cLinkHover10;}
        .random11 & { color: $cLinkHover11; border-bottom-color: $cLinkHover11;}
        .random12 & { color: $cLinkHover12; border-bottom-color: $cLinkHover12;}
        .random13 & { color: $cLinkHover13; border-bottom-color: $cLinkHover13;}
        .random14 & { color: $cLinkHover14; border-bottom-color: $cLinkHover14;}
        .random15 & { color: $cLinkHover15; border-bottom-color: $cLinkHover15;}
        .random16 & { color: $cLinkHover16; border-bottom-color: $cLinkHover16;}
        .random17 & { color: $cLinkHover17; border-bottom-color: $cLinkHover17;}
        .random18 & { color: $cLinkHover18; border-bottom-color: $cLinkHover18;}
        .random19 & { color: $cLinkHover19; border-bottom-color: $cLinkHover19;}
        .random20 & { color: $cLinkHover20; border-bottom-color: $cLinkHover20;}
      }

      .teaser-image {
        opacity: 0.65;
      }
    }

    // no special icons for external links
    &[href^="http"]:before {
      display: none;
    }

  }



  // .neos-backend & {
  //   &:hover {
  //     .teaser-image,
  //     .news-item__date,
  //     .news-item__title,
  //     .news-item__text {
  //       visibility: visible;
  //     }
  //   }
  //
  // }

  // opacity: 0;
  // .neos-backend & {
  //   opacity: 1;
  // }

  transition: opacity 300ms;
  &--image-loaded { opacity: 1; }

  &__date {
    @include font-bold(sansblack);

      margin-top: 0;
  }
  &__title {

  }
  &__text {
    padding-top: 0.5rem;
    p {
      margin-top: 0;
    }
  }
  .teaser-image {
    position: relative;

    &:after {
      content: "";
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
      // background: url('../Assets/Images/overlay.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: left bottom;
    }


    &.background01:after {background-image: url('../Assets/Images/logo/generated/small/background01_s.svg')};
    &.background02:after {background-image: url('../Assets/Images/logo/generated/small/background02_s.svg')};
    &.background03:after {background-image: url('../Assets/Images/logo/generated/small/background03_s.svg')};
    &.background04:after {background-image: url('../Assets/Images/logo/generated/small/background04_s.svg')};
    &.background05:after {background-image: url('../Assets/Images/logo/generated/small/background05_s.svg')};
    &.background06:after {background-image: url('../Assets/Images/logo/generated/small/background06_s.svg')};
    &.background07:after {background-image: url('../Assets/Images/logo/generated/small/background07_s.svg')};
    &.background08:after {background-image: url('../Assets/Images/logo/generated/small/background08_s.svg')};
    &.background09:after {background-image: url('../Assets/Images/logo/generated/small/background09_s.svg')};
    &.background10:after {background-image: url('../Assets/Images/logo/generated/small/background10_s.svg')};
    &.background11:after {background-image: url('../Assets/Images/logo/generated/small/background11_s.svg')};
    &.background12:after {background-image: url('../Assets/Images/logo/generated/small/background12_s.svg')};
    &.background13:after {background-image: url('../Assets/Images/logo/generated/small/background13_s.svg')};
    &.background14:after {background-image: url('../Assets/Images/logo/generated/small/background14_s.svg')};
    &.background15:after {background-image: url('../Assets/Images/logo/generated/small/background15_s.svg')};
    &.background16:after {background-image: url('../Assets/Images/logo/generated/small/background16_s.svg')};
    &.background17:after {background-image: url('../Assets/Images/logo/generated/small/background17_s.svg')};
    &.background18:after {background-image: url('../Assets/Images/logo/generated/small/background18_s.svg')};
    &.background19:after {background-image: url('../Assets/Images/logo/generated/small/background19_s.svg')};
    &.background20:after {background-image: url('../Assets/Images/logo/generated/small/background20_s.svg')};



    img {
      display: block;
      position: relative;

      width: 100%;
      height: auto;
    }

  }

}


.signalwerk-sfgz-newsitem {


}
