@import "../variables";

.column {
  @include container(12);
}

.columns-masonry {
  .news-item__gutter {
    width: gutter(12);
  }

  .news-item__sizer,
  .news-item {
    width: span(6 of 12);

    @include mediaQuery($max, $tablet) {
      width: span(12 of 12);
    }
  }
}
