.signalwerk-sfgz-upload {
  background-color: white;
  padding: $spaceArroundContent;
  // get rid of external link icon
  > .Upload-item > a:before {
    display: none;
  }
}

.uploadIcon {
  @include inline-icon("icon_document.svg", 60%);
}
