<!DOCTYPE html>
{namespace neos=Neos\Neos\ViewHelpers}
{namespace ts=Neos\Fusion\ViewHelpers}
<html>
<head>
  <!-- Put your stylesheet inclusions here, they will be included in your website by TypoScript -->
  <f:section name="stylesheets">
    <link rel="stylesheet" href="{f:uri.resource(path: 'Styles/signalwerk.css', package: 'signalwerk.sfgz')}" media="all" />
  </f:section>
  <!-- Put your scripts inclusions for the head here, they will be included in your website by TypoScript -->
  <f:section name="headScripts">
    <script src="{f:uri.resource(path: 'Library/jquery/jquery-2.0.3.js')}"></script>
  </f:section>

  <f:section name="meta">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  </f:section>

  <f:section name="signalwerk">
  <!--
    ********************************************
    *  OpenSource Site-Package                 *
    *  https://github.com/signalwerk/sfgz      *
    ********************************************
    *  Programming & Interaction               *
    *  Stefan Huber | signalwerk.ch            *
    ********************************************
  -->
  </f:section>

  <f:section name="favicon">
    <!--[if IE]><link rel="shortcut icon" href="{f:uri.resource(path: 'Images/favicon/favicon.ico', package: 'signalwerk.sfgz')}"/><![endif]--><!-- Internet Explorer before version 11-->
    <link rel="icon" href="{f:uri.resource(path: 'Images/favicon/favicon.png', package: 'signalwerk.sfgz')}"/>
  </f:section>

</head>
<body>
<f:section name="body">

  <!-- context: {contextName} -->
  <!-- workspace: {workspaceName} -->

  <a href="/">
    <div class="header-lion">
      <img src="{f:uri.resource(path: 'Assets/Images/logo/lion-black@2x.png', package: 'signalwerk.sfgz')}">
    </div>
  </a>

  <header class="header">
    <div class="header-logo">
      <img src="{f:uri.resource(path: 'Assets/Images/logo/wappen-black@2x.png', package: 'signalwerk.sfgz')}" class="header-logo-desktop">
      <img src="{f:uri.resource(path: 'Assets/Images/logo/wappen-white@2x.png', package: 'signalwerk.sfgz')}" class="header-logo-mobile">
    </div>

    <div class="header-navigation--mobile navigation navigation--mobile">
      <div class="navigation__logos">
        <a href="/">
          <img class="navigation__lion--mobile" src="{f:uri.resource(path: 'Assets/Images/logo/lion-white@2x.png', package: 'signalwerk.sfgz')}">
        </a>
        <img class="navigation__flag--mobile"  src="{f:uri.resource(path: 'Assets/Images/logo/wappen-white@2x.png', package: 'signalwerk.sfgz')}">
      </div>
      <div class="navigation__toggle">
        <button class="navigation__toggle" type="button" name="navigation-toggle">Navigation</button>
      </div>
      <div class="navigation__content">
        <nav class="menu menu1 menu--mobile menu1--mobile">
          {parts.mobileMenu1 -> f:format.raw()}
          <hr>
          {parts.metaMenu -> f:format.raw()}
        </nav>
      </div>
    </div>

    <div class="header-navigation-wrap">

      <div class="meta">
        {parts.metaMenu -> f:format.raw()}
      </div>

      <h1 class="header-name">
          <a href="/" tabindex="-1" class="header-name-link">Schule für Gestaltung Zürich</a>
      </h1>

      <nav class="menu menu1">
        {parts.menu1 -> f:format.raw()}
      </nav>

      <nav class="menu menu2">
        {parts.menu2 -> f:format.raw()}
      </nav>
      <nav class="menu menu--mobile menu2--mobile">
        {parts.mobileMenu2 -> f:format.raw()}
      </nav>

    </div>

  </header>


  <div class="content">
    <div class="content-inner">
      <div class="content_main">
        {content.main -> f:format.raw()}
      </div>

      <div class="content_extra">

        {parts.menu3 -> f:format.raw()}

        <nav class="menu menuSiblings">
          {parts.menuSiblings -> f:format.raw()}
        </nav>

        <f:comment>
          <f:if condition="{hasExtras}">
          </f:if>
        </f:comment>
        {content.extra -> f:format.raw()}
      </div>

    </div>
  </div>
</f:section>

<!-- Put your scripts inclusions for the end of the body here, they will be included in your website by TypoScript -->
<f:section name="bodyScripts">
  <script src="{f:uri.resource(path: 'JavaScript/imagesloaded.min.js', package: 'signalwerk.sfgz')}"></script>
  <script src="{f:uri.resource(path: 'JavaScript/masonry.min.js', package: 'signalwerk.sfgz')}"></script>
  <script src="{f:uri.resource(path: 'JavaScript/jquery.squirrel.min.js', package: 'signalwerk.sfgz')}"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-18405471-38', 'auto');
    ga('send', 'pageview');

  </script>
  <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>


</f:section>
</body>
</html>
