<script src="{f:uri.resource(path: 'JavaScript/courseview.js', package: 'signalwerk.sfgz')}"></script>

<form class="filter-form" id="filter-form" method="post" action="">

  <h3>Freitext</h3>
  <div class="form-group clearfix">
    <div class="input">
      <input class="form-control" id="filter-form-text" type="text" name="text" value="" placeholder="Suche nach...">
    </div>
  </div>

  <div class="category">

    <div class="angebot">
      <h3>Angebotsbereiche</h3>
      <div class="form-group clearfix">
        <input type="radio" id="angebotChoiceAll" name="angebot" value="*" checked>
        <label for="angebotChoiceAll">Alle</label>
        <f:for each="{angebote}" as="category" iteration="iterator">
          <input type="radio" id="angebotChoice{iterator.index}" name="angebot" value="{category.identifier}">
          <label for="angebotChoice{iterator.index}">{category.properties.title}</label>
        </f:for>
      </div>
    </div>
    <div class="beruf">
      <h3>Berufe</h3>
      <div class="form-group clearfix">
        <input type="radio" id="berufChoiceAll" name="beruf" value="*" checked>
        <label for="berufChoiceAll">Alle</label>
        <f:for each="{berufe}" as="category" iteration="iterator">
          <input type="radio" id="berufChoice{iterator.index}" name="beruf" value="{category.identifier}">
          <label for="berufChoice{iterator.index}">{category.properties.title}</label>
        </f:for>
      </div>
    </div>
  </div>



  <h3>Zeiten/Start</h3>
  <div class="form-group starttime clearfix">

    <div class="day">
      <select name="day">
                <option value="*">Kurstag</option>
                <f:for each="{days}" as="day">
                  <option value="{day.identifier}">{day.properties.title}</option>
                </f:for>
              </select>
    </div>

    <div class="month">
      <select name="month">
                <option value="*">Startmonat</option>
                <f:for each="{months}" as="month">
                  <option value="{month.identifier}">{month.properties.title}</option>
                </f:for>
              </select>
    </div>
  </div>

  <div class="form-group clearfix">
    <label for="filter-form-submit">&nbsp;</label>
    <div class="input">
      <button id="filter-form-submit" type="submit"><span class="txt">Suchen</span><span class="wait">warten...</span></button>
    </div>
  </div>
  <br />
  <br />
</form>
