

.content {
  box-sizing: border-box;
  width: 100%;
  max-width: $max-width;

  padding-left: 180px;

  .neos-backend & {
    margin-left: 1rem;
  }

  &-inner {
    width: 100%;

    .neos-backend & {
      width: 100%;
    }
  }
}
