@import '../variables';

html {
  font-size: map-get($fontFactors, base);
  @include mediaQuery($max, $desktop) {
    font-size: map-get($fontFactors, base) * 0.8;
  }
  line-height: 1.4;
  @include font(sans);
  color: $cText;
}

a {
  color: $cLink;
  text-decoration: none;

  &:hover {
    color: $cLinkHover;
  }
}



b, strong, span.strong {
  @include font-bold(sansblack);
}

ul {
  padding-left: 0;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

p {
  @include font(sans);
}

h1, h3{
  @include font-bold(sansblack);
}

p {
  font-size: map-get($fontFactors, p);
  margin-top: 0.7em;
  margin-bottom: 0.8em;
}

h1,
h2,
h3 {
  margin-top: 0.25em;
  margin-bottom: 0;
  line-height: 1.1;
}

h1 {
  font-size: map-get($fontFactors, h1);
}

h2 {
  @include font(sans);
  font-size: map-get($fontFactors, h2);
}

h3 {
  margin-top: 1em;
  font-size: map-get($fontFactors, h3);
}
// no margin top of h2 if following after h1
h1 + h2 {
  margin-top: 0;
}
// no margin between h3 and p
h3 + p,
h3 + ul {
  margin-top: 0;
}

h1 + p,
h2 + p,
h2 + h3 {
    margin-top: 2.5rem;
}

hr {
  height: 0.15rem;
  background-color: white;
  border: none;
  border-bottom: black solid 0.15rem;
}

p {
  margin-top: 0.5em;
  margin-bottom: 0.7em;
}
// error! we only use 1-5
h4, h5, h6, h7, h8 {
  color: lime;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: $spaceArroundContent 0;
}
// set the header always to bold
table th,
table th p {
  @include font-bold(sansblack);
}
// no extra space in p-tags in table
table th p,
table tr p {
  margin: 0;
  padding: 0;
}
// first line a border on top
table tr:first-child {
  border-top-width: 0.1rem;
  border-top-style: solid;
  border-top-color: $cText;
}
// all the other lines a border on bottom
table tr {
  border-bottom-width: 0.1rem;
  border-bottom-style: solid;
  border-bottom-color: $cText;
}

.widthError {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100;
  height: 100%;
  background-color: red;
  @media (min-width: 1130px) {
    display: none;
  }
}
