$mobile-nav--padding: 10px;
$mobile-nav--height: 65px;
$mobile-nav--logo-width: 85px;

$font-size--large: 22px;

$color--light: white;
$color--gray: rgba(0,0,0,.8);
$color--dark: black;

.navigation {
  &--mobile {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    position: fixed;

    top: -$mobile-nav--height;
    left: 0;
    height: $mobile-nav--height;
    width: 100%;
    z-index: 5;
    background-color: $color--dark;
    color: $color--light;
    transition: transform 200ms ease;

    @include below(800px) {
      transform: translateY(100%);
    };
  }

  &__logos {
    width: $mobile-nav--logo-width;
    height: $mobile-nav--height;
    padding: $mobile-nav--padding;
    background-color: $color--dark;
    padding-right: 0;
    box-sizing: border-box;
  }

  &__lion--mobile {
    height: 100%;
    margin-right: $mobile-nav--padding;
  }

  &__flag--mobile {
    display: inline-block;
    height: 20px;
    margin-bottom: 13px;
  }

  &__toggle {
    display: block;
    flex-grow: 1;
    height: 100%;
    padding-left: 0;
    color: $color--light;
    background-color: $color--dark;
    font-size: $font-size--large;
    border: none;
    -webkit-appearance: none;
    @include font-bold();
  }

  &__content {
    position: absolute;
    display: block;
    top: $mobile-nav--height;
    left: 0;
    right: 0;
    z-index: -1;

    padding-left: $mobile-nav--logo-width;
    background-color: black;


    transform: translateY(-100%);
    transition: transform 200ms ease;
    &--open {
      transform: translateY(0);
    }
  }
}

.menu--mobile {
  font-size: $font-size--large;
  @include font-bold();

  ul { padding-left: 0; }
  li { list-style: none; }
  a { color: $color--light; }
}
