.schule-signalwerkch-foldout,
.neos-nodetypes-menu,
.neos-nodetypes-text,
.neos-nodetypes-headline {
  background-color: white;
  overflow: auto;
  padding-left: $spaceArroundContent;
  padding-right: $spaceArroundContent;
}

.schule-signalwerkch-vimeo,
.schule-signalwerkch-youtube {
  padding: $spaceArroundContent 0;
}

.neos-nodetypes-image {

  padding: $spaceArroundContent;

  figure {
    margin: 0;
  }

  img {
    width: 100%;
    height: auto;
  }
}
