@import '../variables';

.news-item {
	position: relative;
	float: left;
	padding: 2px;
	border: 4px solid black;

	&__sizer {
		width: 33%;	
	}

	&__date {

	}
	&__title {

	}
	&__text {

	}

	.teaser-image {
		width: 100%;
		height: auto;

		&__overlay {
			position: absolute;
			top: 0;
			left: 0;
		}
	}

}
