.schule-signalwerkch-onecolumn {

  &.columns-mobileonly {
    display: none;
    @include mediaQuery($max, $tablet) {
      display: block;
    }

    .neos-backend & {
      display: block;
    }
  }
}
