@import "./mixins";

// are we in debug mode?
$debug: true !default;
$debug: false;

$susySetup: (
  columns: 12,
  gutters: 1/2,
  math: fluid,
  output: float,
);

@if $debug == true {
  $susy: map-merge($susySetup, (debug: (image: show)));
}
@else {
  $susy: map-merge($susySetup, ());
}


// Colors
// ==========================================================================
$cWhite:            #ffffff  ;
$cText:             darken($cWhite, 94%);
$cGrey--light:      darken($cWhite, 6%);
$cGrey--dark:       darken($cWhite, 80%);

$cLink:             $cText;
$cLinkIsActive:     lighten($cText, 50%);
$cLinkHover:        #cb2e26;


$cLinkHover01: #2d5199;
$cLinkHover02: #cb2e26;
$cLinkHover03: #50afa7;
$cLinkHover04: #d53064;
$cLinkHover05: #2d5199;
$cLinkHover06: #cb2e26;
$cLinkHover07: #50afa7;
$cLinkHover08: #d53064;
$cLinkHover09: #2d5199;
$cLinkHover10: #cb2e26;
$cLinkHover11: #50afa7;
$cLinkHover12: #d53064;
$cLinkHover13: #2d5199;
$cLinkHover14: #cb2e26;
$cLinkHover15: #50afa7;
$cLinkHover16: #d53064;
$cLinkHover17: #2d5199;
$cLinkHover18: #cb2e26;
$cLinkHover19: #50afa7;
$cLinkHover20: #d53064;




$cBackgroundColor:  $cWhite;


// Typography
// ==========================================================================


$font-name: (
  sansblack: 'SFGZSansBlack'
);

$font-family: (
  sans: #{Helvetica Neue,Helvetica,Arial,sans-serif},
  sansblack: #{map-get($font-name, sansblack), sans-serif}
);

$font-weight-bold: (
  sans: 700,
  sansblack:800
);

$fontFactors: (
  base: 17px,
  p: 1rem,
  h1: 2rem,
  h2: 2rem,
  h3: 1rem,
);

$fontFactorsMenu: (
  meta: 1.15rem,
  name: 2.3rem,
  L1: 1.65rem,
  L2: 1.15rem,
);

$fontFactorsMenuMobile: (
  meta: 1.15rem,
  name: 2.3rem,
  L1: 1.65rem,
  L2: 1rem,
);


// Layout
// ==========================================================================

$max-width: 1130px;



// the spacing for the white cubes on the background
$spaceArroundContent: 0.4em;
