@import '../variables';

.content {
  width: 100%;

  &__inner {
    @include container();
    min-height: calc(100vh - #{$navHeight + $navAfterSpace * 2});
    max-width: $contentWidth;

    margin-top: $navAfterSpace + $navHeight;
    padding-bottom: $navAfterSpace;
    background-color: $cBackgroundColor;


    @media (max-width: $contentWidth/5*9) and (min-width: $contentWidth/5*7) {
      margin-left: calc(50% - #{($contentWidth/2 + $contentWidth/5*1)});
    }

    @include mediaQuery($max, $desktop) {
      margin-top: 4.5rem;;
      min-height: calc(100vh - 8.5rem);

      max-width: 98%;
      margin-left: 1%;
    }

  }
}
