@import '../variables';


$navItemHeightMobile: 2.6rem;
$navItemTopPaddingMobile: 0.8rem;
$navItemFontFactor: 1.3rem;

    // the navigation button for mobile

    .navBTN--inner {
        font-size: $navItemFontFactor;

        padding-left: 0.4rem;
        padding-top: $navItemTopPaddingMobile;
        height: $navItemHeightMobile;
        position: fixed;
        width: 100%;
        z-index: 999;

        border-bottom-color: $cLogoGreen;
        border-bottom-style: solid;
        border-bottom-width: 0.1rem;
        background-color: white;
        display: none;
        @include mediaQuery($max, $desktop) {
          display: block;
        }

    }
    // hamburger menu
    .navBTN--hamburger-menu {
        color: black;
        position: relative;
        padding-left: 1.25em;
        width: 100%;
        padding-right: 3rem;
    }
    .navBTN--hamburger-menu:before {
        content: "";
        position: absolute;
        top: 0.25em;
        left: 0;
        width: 1em;
        height: 0.125em;
        border-top: 0.375em double #000;
        border-bottom: 0.125em solid #000;
    }


.mobilenav-open {

  .mainNavigation__inner {
    @include mediaQuery($max, $desktop) {
      height: auto;
      min-height: 100%;
      overflow-y: scroll;
    }
  }

  .mainNavigation__level1 {
    @include mediaQuery($max, $desktop) {
      display: block;
    }
  }
}


.mainNavigation {

  $navSpaceBottom: 2.4rem;



  width: 100%;
  height: $navHeight;

  @include mediaQuery($max, $desktop) {
    font-size: $navItemFontFactor;
    height: 0;
  }


  background-color: $cWhite;
  position: absolute;
  z-index: 999;

  &.stickyShrink.active{
    position: fixed;
    top: -2.5rem; // same as in stickyShrink
  }

  a {
    color: $cText;
    &:hover {
      color: $cLogoGreen;
    }
  }
  .active > div > div > a, .active > a,
  .current > div > div > a, .current > a {
    @include font-bold();
  }

  ul, li {
    margin: 0;
    padding: 0;
  }

  ul {
    list-style-type: none;
  }


  &__inner {


    @include mediaQuery($min, $desktop) {

      position: absolute;
      bottom: 0;
      @include container();

      width: $contentWidth;
      left: calc(50% - #{$contentWidth/2});

    }

    @media (max-width: $contentWidth/5*9) and (min-width: $contentWidth/5*7) {
      left: calc(50% - #{($contentWidth/2 + $contentWidth/5*1)});
    }


    @include mediaQuery($max, $desktop) {

// &:before {
//   visibility: hidden;
//   display: block;
//   font-size: 0;
//   content: " ";
//   height: $navItemHeightMobile + $navItemTopPaddingMobile;
//   width: 1px;
//
// }

      // display: none;
      height: 0;
      min-height: 0;

      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      overflow: visible;
    }
    //@include containerWidth();

  }

  &__logo {
    position: absolute;
    left: calc(50% + #{$contentWidth/2});
    z-index: 999;

    @media (max-width: $contentWidth/5*7) {
      left: calc(50% + #{($contentWidth/2) - 240px});
      margin-top: -3.2rem;
    }

    @include mediaQuery($max, $desktop) {
      left: calc(99% - 180px});
      margin-top: 0.7rem;
      position: fixed;
    }


    &Inner {

      //padding-left: $contentWidth/2;
      width: span(3 of 10);

      // padding-left: $contentWidth/2;
      width: $contentWidth/5*2;
      @media (max-width: $contentWidth/5*7) {
        width: 240px;
      }
      @include mediaQuery($max, $desktop) {
        width: 180px;

      }

    }

    &Svg {

      width: 100%;
      background-size: 100%;
      background-repeat: no-repeat;
      padding-top: 100%/800*146; // dimension 800x146 px
      background-image: url("../Images/logo/logo.svg");
    }
  }

  &__itemLevel1 {
    position: relative;

    &Link {
      background-color: white;

      @include mediaQuery($max, $desktop) {
        background-color: $cGray;
      }

      border-left-color: $cLogoGreen;
      border-left-style: solid;
      border-left-width: 0.1rem;

      @include mediaQuery($max, $desktop) {
        border-left: none;
        border-bottom-color: $cWhite;
        border-bottom-style: solid;
        border-bottom-width: 0.1rem;
      }
    }

    a {
      //width: 100%;
      left:0;
      right: 0;
      padding-left: 0.7rem;
      display: block;
      padding-bottom: $navSpaceBottom;
      @media (max-width: $contentWidth/5*7) {
        padding-bottom: 0.7rem;
      }

      @include mediaQuery($max, $desktop) {
        padding-bottom: 0;
        padding-top: $navItemTopPaddingMobile;
        height: $navItemHeightMobile;
      }
    }
  }

  &__ulLevel1 > li {
    //@include span(2 of 10);
    @include mediaQuery($min, $desktop) {
      width: 20%;
      float: left;
    }
  }

  // show level 2 on hover
  &__level1 li:hover &__level2 {
    display: block;
  }

  &__level1 {
    @include mediaQuery($max, $desktop) {
      display: none;
    }
  }

  &__level2 {
    background-color: $cGray;
    // @include mediaQuery($max, $desktop) {
    //   background-color: white;
    // }
    width: 100%;

    @include mediaQuery($min, $desktop) {
      position: absolute;
      display: none;
      @include clearfix();
    }

    a {
          padding-top: 0.4rem;
          padding-bottom: 0.4rem;

          @include mediaQuery($max, $desktop) {
            padding-bottom: 0;
            padding-top: $navItemTopPaddingMobile;
            padding-left: 2.5rem;
            height: $navItemHeightMobile;
          }

          &:hover {
            color: $cLogoRed;
          }
    }
  }
}
