@import '../variables';

.multiColumn {

  &__container {
    @include container();
  }

  &__container--TwoColumn &__item--1{
    // @include span(first 20%);
    width: 20%;
    @include mediaQuery($max, $desktop) {
      width: 15%;
    }
    float: left;

    .multiColumn__itemInner {
      .typo3-neos-nodetypes-text {
        margin-right: $textColumnSpace;
      }
      margin-bottom: $textColumnSpace;
    }
  }

  &__container--TwoColumn &__item--4{
    // @include span(last 80%);
    width: 80%;
    @include mediaQuery($max, $desktop) {
      width: 85%;
    }
    float: right;

    .multiColumn__itemInner {
      .typo3-neos-nodetypes-text {
        margin-right: $textColumnSpace;
      }
      .typo3-neos-nodetypes-form {
        margin-right: $textColumnSpace;
      }
      margin-bottom: $textColumnSpace;
    }
  }
}
