{namespace neos=Neos\Neos\ViewHelpers}

<div{attributes -> f:format.raw()}>


  <f:if condition="{view} == list">
    <div class="courseview-list">
      <f:render partial="./CourseView/list" arguments="{courseItemRenderer: courseItemRenderer}"/>
    </div>
  </f:if>

  <f:if condition="{view} == show">
    {course -> f:format.raw()}
  </f:if>

  <f:if condition="{view} == enroll">
    <div class="courseview-enroll">
      <f:render partial="./CourseView/enroll" arguments="{_all}"/>
    </div>
  </f:if>

  <f:if condition="{view} == categories">
    {filter -> f:format.raw()}
  </f:if>



</div>
