{namespace neos=Neos\Neos\ViewHelpers}
<div {attributes -> f:format.raw()} >


  <f:if condition="{neos:rendering.live()} && {link}">
    <f:then>
      <a href="{link}">
        <f:render section="newsItemRender" arguments="{_all}" />
      </a>
    </f:then>
    <f:else>
      <f:render section="newsItemRender" arguments="{_all}" />
    </f:else>
  </f:if>

</div>


<f:section name="newsItemRender">

  <div class="teaser-image {bgStyle}">
    <f:if condition="{teaserImage}">
        <f:then>
            <neos.media:image
              image="{teaserImage}"
              alt="{teaserImage.alternativeText}"
              title="{teaserImage.title}"
              maximumWidth="700"
            />
        </f:then>
        <f:else>
        </f:else>
    </f:if>
  </div>

  <neos:contentElement.editable class="news-item__date" property="date" tag="p" />
  <neos:contentElement.editable class="news-item__title" property="title"/>
  <neos:contentElement.editable class="news-item__text" property="text"/>

    <f:if condition="{neos:rendering.live()}">
        <f:if condition="{teaserImage}">
          </a>
        </f:if>
    </f:if>


</f:section>
