@import "./mixins";

// are we in debug mode?
$debug: true !default;
$debug: false;

$susySetup: (
  columns: 12,
  gutters: 1/2,
  math: fluid,
  output: float,
);

@if $debug == true {
  $susy: map-merge($susySetup, (debug: (image: show)));
}
@else {
  $susy: map-merge($susySetup, ());
}


// Colors
// ==========================================================================
$cWhite:            #ffffff	;
$cText:             darken($cWhite, 94%);


$cLink:             $cText;
$cLinkHover:        #f06;

$cBackgroundColor:  $cWhite;


// Typography
// ==========================================================================


$font-name: (
  sansblack: 'SFGZSansBlack'
);

$font-family: (
  sans: #{Helvetica Neue,Helvetica,Arial,sans-serif},
  sansblack: #{map-get($font-name, sansblack), sans-serif}
);

$font-weight-bold: (
  sans: 700,
  sansblack:800
);

$fontFactors: (
  base: 17px,
	p: 1rem,
	h1: 2rem,
	h2: 2rem,
	h3: 1rem,
);

$fontFactorsMenu: (
	meta: 1.15rem,
	name: 2.3rem,
	L1: 1.65rem,
	L2: 1.15rem,
);


// Layout
// ==========================================================================

$max-width: 1130px;



// the spacing for the white cubes on the background
$spaceArroundContent: 0.4em;
