{namespace neos=Neos\Neos\ViewHelpers}
<div {attributes -> f:format.raw()} >
  <div class="contact-item__wrapper">
    <h3>{firstname} {familyname}<br>
      <f:if condition="{function}">
        {function}<br>
      </f:if>
    </h3>
    <f:if condition="{neos:rendering.inEditMode()}">
      <p>Kategorien:
        <f:for each="{categories}" as="category" iteration="itemIterator">
          {category.properties.title}{f:if(condition: itemIterator.isLast, then: '', else: ', ')}
        </f:for>
      </p>
    </f:if>
    <f:if condition="{email}"><p class="compact"><a href="mailto:{email}">{email}</a></p></f:if>
    <f:if condition="{tel}"><p class="compact"><a href="tel:{tel}" class="noUnderline">{tel}</a></p></f:if>
  </div>
</div>
